# OS cache files
.fuse*

# AI cache files
.kilo/

# Python cache files
__pycache__/
.pytest_cache/
.ruff_cache/
.vkbottle/
*.pyc

# Environment
.venv/

# Configuration
config.yaml

# Local databases
.sessions/
.users/
.workspace/
